<form action="" name="form" class="crud">
    <div class="panel panel-default" ng-repeat="(key,val) in appNames" hide-when-loading>
        <div class="panel-heading">
            <h3>{{ val }} Song List</h3>

            <div class="btn-group">
                <button class="dropdown-toggle float-link" data-toggle="dropdown">add region</button>
                <ul class="dropdown-menu" role="menu">
                    <drop-down ref="regions" usedBy="data[key].songList" app="{{ key }}"></drop-down>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <div style="" class="form-horizontal song-group" ng-repeat="(country,songs) in data[key].songList">
                <h4>{{ regions[ country ] }}</h4>

                <div class="btn-group" ng-hide="country == 'us'">
                    <span class="float-link dropdown-toggle float-link" data-toggle="dropdown">remove region</span>
                    <ul class="dropdown-menu region" role="menu">
                        <li role="presentation" class="dropdown-header">Remove this region and all associated songs?</li>
                        <li ng-click="remove(country, 'songList', key)">Yes!</li>
                        <li role="presentation" class="divider"></li>
                        <li>No!</li>
                    </ul>
                </div>

                <div class="form-group song-group" ng-repeat="song in songs">
                    <input class="form-control" type="text" value="{{ returnTitle(song) }}" disabled="disabled">
                    <span class="inline-link" ng-click="removeSong(song, country, key, form)">remove song</span>
                </div>

                <div class="form-group song-group">
                    <input class="form-control" placeholder="Enter a song name" type="text" ng-model="songModel[country]" typeahead-on-select="addSong( country, key )" typeahead="song.title for song in songList.arr | filter:$viewValue | limitTo:14">
                </div>
            </div>
        </div>

    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><h3>Options</h3></div>
        <div class="form-horizontal panel-body" style="padding-bottom: 0;">
            <div class="form-group" style="padding-top: 15px;">
                <label class="control-label col-sm-2" for="">Title</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="A meaningful title" ng-model="data.title" value="{{ data.title }}" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="">Background Color</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon">#</span>
                        <input type="text" class="form-control" placeholder="000000" ng-model="data.background_color" value="{{ data.background_color }}" pattern="^([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$" title="Background color must be a valid hex color, and either three or six characters long." minlength="3" maxlength="6" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="">Version</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="1" ng-model="data.version" value="{{ data.version }}" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="">Available Languages</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <label class="checkbox-inline" ng-repeat="(country,lang) in languages">
                            <input type="checkbox" ng-model="data.available_languages[ country ]"> {{ lang }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div ng-repeat="(app,val) in appNames" class="panel-body">
            <h4>{{ val }}</h4>
            <div ng-repeat="(os,opts) in data[app].options" class="bordered form-horizontal col-sm-4">
                <h4>{{ os }}</h4>
                <div ng-repeat="(key,val) in opts" style="" class="form-group">
                    <label for="" class="control-label col-sm-4">{{ key }}</label>
                    <div class="col-sm-5">
                        <input ng-if="key == 'enabled'" type="checkbox" ng-model="data[app]['options'][os][key]">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-lg" ng-click="save( form.$invalid, form.$pristine )">{{ mode }}</button>
</form>
