<div ng-switch="loggedIn">
    <div ng-switch-when="true">
        <h2>Catalog Admin</h2>
        <hr>
        <div class="row">
            <div class="list-group col-md-3">
                <a class="list-group-item" href="#/catalog/collections">
                    <h4>Collections</h4>
                    <p class="list-group-item-text">Add or edit a song collection.</p>
                </a>
            </div>
            <div class="list-group col-md-3">
                <a class="list-group-item" href="#/catalog/filters">
                    <h4>Filters</h4>
                    <p class="list-group-item-text">Add or edit an app filter.</p>
                </a>
            </div>
            <div class="list-group col-md-3">
                <a class="list-group-item" href="#/catalog/promotions">
                    <h4>Promotions</h4>
                    <p class="list-group-item-text">Add or edit a promotion.</p>
                </a>
            </div>
        </div>
    </div>
    <div ng-switch-default>
        <div ng-include="'views/login.html'"></div>
    </div>
</div>
