<div ng-switch="loggedIn">
    <div ng-switch-when="true">
        <h2>Catalog Admin</h2>
        <hr>
        <div class="row">
            <div class="list-group col-md-3">
                <a class="list-group-item" href="#/catalog/collections">
                    <h4>Collections</h4>
                    <p class="list-group-item-text">Add or edit a song collection.</p>
                </a>
            </div>
            <div class="list-group col-md-3">
                <a class="list-group-item" href="#/catalog/filters">
                    <h4>Filters</h4>
                    <p class="list-group-item-text">Add or edit an app filter.</p>
                </a>
            </div>
            <div class="list-group col-md-3">
                <a class="list-group-item" href="#/catalog/promotions">
                    <h4>Promotions</h4>
                    <p class="list-group-item-text">Add or edit a promotion.</p>
                </a>
            </div>
        </div>
        <h2>Broadcast Notifications</h2>
        <hr>
        <div class="row">
            <div class="list-group col-md-3">
                <a href="#/broadcast/all" class="list-group-item">
                    <h4 class="list-group-item-heading">iOS + Android Push</h4>
                </a>
            </div>
            <div class="list-group col-md-3">
                <a href="#/broadcast/ios" class="list-group-item">
                    <h4 class="list-group-item-heading">iOS Push</h4>
                </a>
            </div>
            <div class="list-group col-md-3">
                <a href="#/broadcast/android" class="list-group-item">
                    <h4 class="list-group-item-heading">Android Push</h4>
                </a>
            </div>
        </div>
        <h2>MCN Admin</h2>
        <hr>
        <div class="row">
            <div class="list-group col-md-3">
                <a href="#/mcn-user-status" class="list-group-item">
                    <h4 class="list-group-item-heading">Manage MCN Invites</h4>
                    <p class="list-group-item-text">Accept a user into the MCN</p>
                </a>
            </div>
            <div class="list-group col-md-3">
                <a href="#/mcn-user-info" class="list-group-item">
                    <h4 class="list-group-item-heading">View MCN User Info</h4>
                    <p class="list-group-item-text">Search for a user and view their MCN information</p>
                </a>
            </div>
            <div class="list-group col-md-3">
                <a href="#/invite-mcn-user" class="list-group-item">
                    <h4 class="list-group-item-heading">Invite Existing MCN User</h4>
                    <p class="list-group-item-text">Invite a user to the MCN</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="list-group col-md-3">
                <a href="#/invite-new-mcn-user" class="list-group-item">
                    <h4 class="list-group-item-heading">Invite new MCN User</h4>
                    <p class="list-group-item-text">Create and invite a new MCN user</p>
                </a>
            </div>
            <div class="list-group col-md-3">
                <a href="#/mcn-rejected-user" class="list-group-item">
                    <h4 class="list-group-item-heading">Invite Rejected MCN Users</h4>
                    <p class="list-group-item-text">Invite a previously rejected MCN user</p>
                </a>
            </div>
            <div class="list-group col-md-3">
                <a href="#/mcn-user-contract-status" class="list-group-item">
                    <h4 class="list-group-item-heading">Users stuck after signing contract</h4>
                    <p class="list-group-item-text">Update an MCN user to contract complete status</p>
                </a>
            </div>
        </div>
        <h2>Misc Admin</h2>
        <hr>
        <div class="row">
            <!-- Uncomment this when contest admin 2.0 is bug-free! -->
            <!-- <div class="list-group col-md-3">
                <a href="#/contests" class="list-group-item">
                    <h4 class="list-group-item-heading">Contests</h4>
                    <p class="list-group-item-text">Create and edit contests</p>
                </a>
            </div> -->
            <div class="list-group col-md-3">
                <a href="#/trending" class="list-group-item">
                    <h4 class="list-group-item-heading">Trending Contest Entries</h4>
                    <p class="list-group-item-text">Boost some ranks!</p>
                </a>
            </div>
            <div class="list-group col-md-3">
                <a href="#/access-pass" class="list-group-item">
                    <h4 class="list-group-item-heading">Manage Access Passes</h4>
                    <p class="list-group-item-text">Add or edit access passes.</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="list-group col-md-3">
                <a href="#/subscription-info" class="list-group-item">
                    <h4 class="list-group-item-heading">Manage Subscriptions</h4>
                    <p class="list-group-item-text">Add or edit client subscription information.</p>
                </a>
            </div>
            <div class="list-group col-md-3">
                <a href="#/web-config" class="list-group-item">
                    <h4 class="list-group-item-heading">Manage Web Config</h4>
                    <p class="list-group-item-text">Update the popular songs, and manage the ad unit.</p>
                </a>
            </div>
        </div>
    </div>
    <div ng-switch-default>
        <div ng-include="'views/login.html'"></div>
    </div>
</div>
